.game {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .game {
    flex-direction: column;
    align-items: center;
    min-width: 300px;
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 2vh;
}

.options {
  border: 2px solid #c5c2b8;
  border-radius: 10px;
  margin: auto;
  width: 260px;
  margin-bottom: 2vh;
}

.options li {
  margin-bottom: 0.4rem;
}

.boardItem {
  width: 32%;
  padding-bottom: 18%;
  margin-bottom: 2%;
}

.gameInfo {
  border: 2px solid #c5c2b8;
  border-radius: 10px;
  width: 260px;
  margin: auto;
}

.switch,
.status,
.status {
  margin: 0 1rem;
  padding: 0 5px;
}
